{
	"presets": ["env"],
	"plugins": [
		"transform-runtime",
		["module-resolver", {
				"root": ["./packages"]
			}
		]
	],
	"env": {
		"test": {
			"plugins": ["istanbul", "rewire"]
		},
		"browsertest": {
			"plugins": ["rewire"]
		},
		"buildcheck": {
			"plugins": [
				["module-resolver", {
						"root": ["./dist-node"]
					}
				],
				"istanbul",
				"rewire"
			]
		}
	}
}
