blockchain.db.gz
dapps/
.DS_Store
.ed25519-node
.idea/
logs.log
logs.old.log
__MACOSX/
nodejs/
node_modules
npm-debug.log
.project
release
sqlite/
ssl/
stacktrace*
tmp
deldb.sh
genesisBlock.json.my
config.json.my
