.babelrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc.json
.nycrc
.prettierrc.json
cypress.json
index.html
Jenkinsfile*

.nyc_output/
bin/
browsertest/
coverage/
cypress/
fixtures/
src/
test/
