/*
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 */

@Library('lisk-jenkins') _

properties([
	parameters([
		string(name: 'LISK_MOCHA_RUNNER_OPTIONS', defaultValue: '', description: 'Please check readme to see available test tags. Example: `-- --grep something`', ),
		// read by the application
		string(name: 'LOG_LEVEL', defaultValue: 'error', description: 'To get desired build log output change the log level', ),
		string(name: 'FILE_LOG_LEVEL', defaultValue: 'error', description: 'To get desired file log output change the log level', ),
		// used by tests
		string(name: 'SILENT', defaultValue: 'true', description: 'To turn off test debug logs.', )
	 ])
])

pipeline {
	agent { node { label 'lisk-core-network' } }
	stages {
		stage('Build') {
			steps {
				ansiColor('xterm') {
					sh 'sudo service postgresql restart'
					nvm(getNodejsVersion()) {
						sh 'npm ci'
					}
				}
			}
		}
		stage('Run network tests') {
			steps {
				ansiColor('xterm') {
					nvm(getNodejsVersion()) {
						sh 'npm run mocha:network ${LISK_MOCHA_RUNNER_OPTIONS}'
					}
				}
			}
		}
	}
	post {
		always {
			archiveArtifacts artifacts: 'framework/test/mocha/network/logs/*.log', allowEmptyArchive: true
		}
		failure {
			script {
				build_info = getBuildInfo()
				liskSlackSend('danger', "Job ${build_info} failed (<${env.BUILD_URL}/console|console>, <${env.BUILD_URL}/changes|changes>)\n", 'lisk-ci-core')
			}
		}
		success {
			script {
				build_info = getBuildInfo()
				liskSlackSend('good', "Job ${build_info} was successful.", 'lisk-ci-core')
			}
		}
		cleanup {
			nvm(getNodejsVersion()) {
				sh 'npx pm2 kill || true'
			}
		}
	}
}
// vim: filetype=groovy
