.clickable {
	cursor: pointer;
	margin-left: 8px;
	max-width: 5%;
}

.clickableRow {
	padding: 0.5px;
	min-height: 20px;
	max-width: 95%;
}

.clickableContainer {
	min-width: 100%;
	display: inline-flex;
	align-items: center;
}
