.root {
	min-height: 30px;
	display: flex;
	width: 100%;
}

.copyText {
	overflow-wrap: unset;
	overflow: hidden;
	text-overflow: ellipsis;
}

.copyTextIndent {
	overflow-wrap: normal;
}

.icon {
	cursor: pointer;
	width: 30px;
	margin-left: 5px;
	flex-basis: 30px;
}
