<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-content">
                        <div class="modal-header modal-iconed">
                            <div class="close-modal" ng-click="close()">
                                <span class="sr-only"><translate>Close modal</translate></span>
                            </div>
                        </div>
                        <div class="modal-header clearfix">
                            <div>
                                <h2>{{label}}</h2>
                            </div>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="forgingState()">
                                <div class="field-padding">
                                    <span class="pass-error" style="margin-top: 20px; font-size: 14px;" ng-show="error">{{error}}</span>
                                </div>
                                <input type="submit" ng-show="false">
                            </form>
                        </div>
                        <div class="modal-body bordered">
                            <ul class="nav modal-buttons pull-right">
                                <li>
                                    <a href="#" ng-click="close()"><translate>OK</translate></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
