<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()">
                            <span class="sr-only"><translate>Close modal</translate></span>
                        </div>
                    </div>
                    <div class="modal-header clearfix">
                        <div>
                            <h2>{{title}}</h2>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="collection without-margin-top">
                            <li class="collection-item avatar" ng-repeat="line in dataMembers">
                                <img src="/images/account.png" alt="" class="circle">
                                <span class="title">{{line.address}}</span>
                                <p>{{line.name}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
