{
	"wsPort": {{getv "/lisk/wsport" "null"}},
	"httpPort": {{getv "/lisk/httpport" "null"}},
	"address": "{{getv "/lisk/address" "null"}}",
	"fileLogLevel": "{{getv "/lisk/fileloglevel" "null"}}",
	"logFileName": "{{getv "/lisk/logfilename" "null"}}",
	"consoleLogLevel": "{{getv "/lisk/consoleloglevel" "null"}}",
	"trustProxy": {{getv "/lisk/trustproxy" "null"}},
	"topAccounts": {{getv "/lisk/topaccounts" "null"}},
	"cacheEnabled": {{getv "/lisk/cacheenabled" "null"}},
	"wsWorkers": {{getv "/lisk/wsworkers" "null"}},
	"db": {
		"host": "{{getv "/lisk/db/host" "null"}}",
		"port": {{getv "/lisk/db/port" "null"}},
		"database": "{{getv "/lisk/db/database" "null"}}",
		"user": "{{getv "/lisk/db/user" "null"}}",
		"password": "{{getv "/lisk/db/password" "null"}}",
		"min": {{getv "/lisk/db/min" "null"}},
		"max": {{getv "/lisk/db/max" "null"}},
		"poolIdleTimeout": {{getv "/lisk/db/poolidletimeout" "null"}},
		"reapIntervalMillis": {{getv "/lisk/db/reapintervalmillis" "null"}},
		"logEvents": {{getv "/lisk/db/logevents" "null"}},
		"logFileName": "{{getv "/lisk/db/logfilename" "null"}}"
	},
	"redis": {
		"host": "{{getv "/lisk/redis/host" "null"}}",
		"port": {{getv "/lisk/redis/port" "null"}},
		"db": {{getv "/lisk/redis/db" "null"}},
		"password": {{getv "/lisk/redis/password" "null"}}
	},
	"api": {
		"enabled": {{getv "/lisk/api/enabled" "null"}},
		"access": {
			"public": {{getv "/lisk/api/access/public" "null"}},
			{{$whiteListEntries := getvs "/lisk/api/access/whitelist/*"}}"whiteList": [{{range $index, $element := $whiteListEntries}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
		},
		"options": {
			"limits": {
				"max": {{getv "/lisk/api/options/limits/max" "null"}},
				"delayMs": {{getv "/lisk/api/options/limits/delayms" "null"}},
				"delayAfter": {{getv "/lisk/api/options/limits/delayafter" "null"}},
				"windowMs": {{getv "/lisk/api/options/limits/windowms" "null"}}
			},
			"cors": {
				"origin": "{{getv "/lisk/api/options/cors/origin" "null"}}",
			        {{$corsMethods := getvs "/lisk/api/options/cors/methods/*"}}"methods": [{{range $index, $element := $corsMethods}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
			}
		},
		"ssl": {
			"enabled": {{getv "/lisk/ssl/enabled" "null"}},
			"options": {
				"port": {{getv "/lisk/ssl/options/port" "null"}},
				"address": "{{getv "/lisk/ssl/options/address" "null"}}",
				"key": "{{getv "/lisk/ssl/options/key" "null"}}",
				"cert": "{{getv "/lisk/ssl/options/cert" "null"}}"
			}
		}
	},
	"peers": {
		"enabled": {{getv "/lisk/peers/enabled" "null"}},
		"access": {
			{{$blackListEntries := getvs "/lisk/peers/access/blacklist/*"}}"blackList": [{{range $index, $element := $blackListEntries}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
		},
		"options": {
			"timeout": {{getv "/lisk/peers/options/timeout" "null"}},
			"broadhashConsensusCalculationInterval": {{getv "/lisk/peers/options/broadhashconsensuscalculationinterval" "null"}}
		}
	},
	"broadcasts": {
		"active": {{getv "/lisk/broadcasts/active" "null"}},
		"broadcastInterval": {{getv "/lisk/broadcasts/broadcastinterval" "null"}},
		"broadcastLimit": {{getv "/lisk/broadcasts/broadcastlimit" "null"}},
		"parallelLimit": {{getv "/lisk/broadcasts/parallellimit" "null"}},
		"releaseLimit": {{getv "/lisk/broadcasts/releaselimit" "null"}},
		"relayLimit": {{getv "/lisk/broadcasts/relaylimit" "null"}}
	},
	"transactions": {
		"maxTransactionsPerQueue": {{getv "/lisk/transactions/maxtransactionsperqueue" "null"}}
	},
	"forging": {
		"force": {{getv "/lisk/forging/force" "null"}},
		"defaultPassword": "{{getv "/lisk/forging/defaultpassword" "null"}}",
		"delegates": [{{range $index, $element := (getvs "/lisk/forging/delegates/*")}}{{$data := split $element ":"}}{{if $index}}, {{end}}
		{
			"encryptedPassphrase": "{{index $data 0}}",
			"publicKey": "{{index $data 1}}"
		}{{end}}],
		"access": {
			{{$whiteListEntries := getvs "/lisk/forging/access/whitelist/*"}}"whiteList": [{{range $index, $element := $whiteListEntries}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
		}
	},
	"syncing": {
		"active": {{getv "/lisk/syncing/active" "null"}}
	},
	"loading": {
		"loadPerIteration": {{getv "/lisk/loading/loadperiteration" "null"}}
	}
}
