{
	"wsPort": {{getv "/lisk/wsport" "7001"}},
	"httpPort": {{getv "/lisk/httpport" "7000"}},
	"address": "{{getv "/lisk/address" "0.0.0.0"}}",
	"version": "__LISK_VERSION__REPLACE_ME__",
	"minVersion": "__LISK_MIN_VERSION__REPLACE_ME__",
	"fileLogLevel": "{{getv "/lisk/fileloglevel" "info"}}",
	"logFileName": "{{getv "/lisk/logfilename" "logs/lisk.log"}}",
	"consoleLogLevel": "{{getv "/lisk/consoleloglevel" "error"}}",
	"trustProxy": {{getv "/lisk/trustproxy" "false"}},
	"topAccounts": {{getv "/lisk/topaccounts" "false"}},
	"cacheEnabled": {{getv "/lisk/cacheenabled" "false"}},
	"wsWorkers": {{getv "/lisk/wsworkers" "1"}},
	"db": {
		"host": "{{getv "/lisk/db/host" "localhost"}}",
		"port": {{getv "/lisk/db/port" "5432"}},
		"database": "{{getv "/lisk/db/database" "lisk_test"}}",
		"user": "{{getv "/lisk/db/user" "lisk"}}",
		"password": "{{getv "/lisk/db/password" "password"}}",
		"min": {{getv "/lisk/db/min" "10"}},
		"max": {{getv "/lisk/db/max" "95"}},
		"poolIdleTimeout": {{getv "/lisk/db/poolidletimeout" "30000"}},
		"reapIntervalMillis": {{getv "/lisk/db/reapintervalmillis" "1000"}},
		"logEvents": ["error"],
		"logFileName": "{{getv "/lisk/db/logfilename" "logs/lisk_db.log"}}"
	},
	"redis": {
		"host": "{{getv "/lisk/redis/host" "127.0.0.1"}}",
		"port": {{getv "/lisk/redis/port" "6380"}},
		"db": {{getv "/lisk/redis/db" "0"}},
		"password": {{getv "/lisk/redis/password" "null"}}
	},
	"api": {
		"enabled": {{getv "/lisk/api/enabled" "true"}},
		"access": {
			"public": {{getv "/lisk/api/access/public" "false"}},
			{{$whiteListEntries := getvs "/lisk/api/access/whitelist/*"}}"whiteList": [{{range $index, $element := $whiteListEntries}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
		},
		"ssl": {
			"enabled": {{getv "/lisk/api/ssl/enabled" "false"}},
			"options": {
				"port": {{getv "/lisk/api/ssl/options/port" "443"}},
				"address": "{{getv "/lisk/api/ssl/options/address" "0.0.0.0"}}",
				"key": "{{getv "/lisk/api/ssl/options/key" "./ssl/lisk.key"}}",
				"cert": "{{getv "/lisk/api/ssl/options/cert" "./ssl/lisk.crt"}}"
			}
		},
		"options": {
			"limits": {
				"max": {{getv "/lisk/api/options/limits/max" "0"}},
				"delayMs": {{getv "/lisk/api/options/limits/delayms" "0"}},
				"delayAfter": {{getv "/lisk/api/options/limits/delayafter" "0"}},
				"windowMs": {{getv "/lisk/api/options/limits/windowms" "60000"}}
			},
			"cors": {
				"origin": "{{getv "/lisk/api/options/cors/origin" "*"}}",
				"methods": ["GET", "POST", "PUT"]
			}
		}
	},
	"peers": {
		"enabled": {{getv "/lisk/peers/enabled" "true"}},
		"list": [
			{
				"ip": "94.237.29.221",
				"wsPort": 7001
			},
			{
				"ip": "83.136.254.104",
				"wsPort": 7001
			},
			{
				"ip": "209.50.48.177",
				"wsPort": 7001
			},
			{
				"ip": "94.237.64.33",
				"wsPort": 7001
			},
			{
				"ip": "94.237.30.23",
				"wsPort": 7001
			}
		],
		"access": {
			{{$blackListEntries := getvs "/lisk/peers/access/blacklist/*"}}"blackList": [{{range $index, $element := $blackListEntries}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
		},
		"options": {
			"timeout": {{getv "/lisk/peers/options/timeout" "5000"}},
			"broadhashConsensusCalculationInterval": {{getv "/lisk/peers/options/broadhashconsensuscalculationinterval" "5000"}}
		}
	},
	"broadcasts": {
		"active": {{getv "/lisk/broadcasts/active" "true"}},
		"broadcastInterval": {{getv "/lisk/broadcasts/broadcastinterval" "5000"}},
		"broadcastLimit": {{getv "/lisk/broadcasts/broadcastlimit" "25"}},
		"parallelLimit": {{getv "/lisk/broadcasts/parallellimit" "20"}},
		"releaseLimit": {{getv "/lisk/broadcasts/releaselimit" "25"}},
		"relayLimit": {{getv "/lisk/broadcasts/relaylimit" "3"}}
	},
	"transactions": {
		"maxTransactionsPerQueue": {{getv "/lisk/transactions/maxtransactionsperqueue" "1000"}}
	},
	"forging": {
		"force": {{getv "/lisk/forging/force" "false"}},
		"delegates": [{{range $index, $element := (getvs "/lisk/forging/delegates/*")}}{{$data := split $element ":"}}{{if $index}}, {{end}}
		{
			"encryptedPassphrase": "{{index $data 0}}",
			"publicKey": "{{index $data 1}}"
		}{{end}}],
		"access": {
			{{$whiteListEntries := getvs "/lisk/forging/access/whitelist/*"}}"whiteList": [{{range $index, $element := $whiteListEntries}}{{if $index}}, {{end}}"{{$element}}"{{end}}]
		}
	},
	"syncing": {
		"active": {{getv "/lisk/syncing/active" "true"}}
	},
	"loading": {
		"loadPerIteration": {{getv "/lisk/loading/loadperiteration" "5000"}}
	},
	"nethash": "{{getv "/lisk/nethash" "da3ed6a45429278bac2666961289ca17ad86595d33b31037615d4b8e8f158bba"}}"
}
