node_modules
dapps
logs/*.log
npm-debug.log
release
ssl
stacktrace*
tmp
dist-node
jest.config*
__mocks__
.eslintrc.js
test/**/setup.js

# Temporally disable integration and functional
test/integration
test/functional