# Files
Jenkinsfile*
.gitkeep
mocha.opts

# rc files
.*rc
## ignore files
.*ignore

# Ignore extensions
*.png
*.sql
## jest snapshot
*.snap

# project specific paths
test/mocha/.coverage-unit/

.DS_Store
.log
.pid
