@import '../../styles/constants';

.fixed_header {
	table-layout: fixed;
	border-collapse: collapse;
}

.fixed_header tbody {
	display: block;
	width: 100%;
	overflow: auto;
	height: 277px;
	&::-webkit-scrollbar {
		width: 14px;
	}

	&::-webkit-scrollbar-thumb {
		background: #c5cfe4;
		background-clip: content-box;
		border-radius: 20px;
		border: 5px solid transparent;
	}
}

.fixed_header thead tr {
	display: block;
	padding-right: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.fixed_header th,
.fixed_header td {
	padding: 5px;
	text-align: left;
	width: 200px;
}
