{
	"extends": "../tsconfig",
	"compilerOptions": {
		"baseUrl": ".",
		"declaration": false,
		"target": "es2017",
		"typeRoots": [
			"../types",
			"../../../types",
			"../node_modules/@types",
			"../../../node_modules/@types"
		],
		"types": [
			"node",
			"mocha",
			"sinon",
			"chai",
			"globals",
			"buffer-reverse",
			"sodium-native",
			"varuint-bitcoin"
		]
	},
	"include": ["../types/**/*", "../../../types/**/*", "./**/*"]
}
