{
	"extends": "../tsconfig",
	"compilerOptions": {
		"baseUrl": ".",
		"declaration": false,
		"target": "es2017",
		"typeRoots": [
			"../types",
			"../../../types",
			"../node_modules/@types",
			"../../../node_modules/@types"
		]
	},
	"include": ["../types/**/*", "../../../types/**/*", "./**/*"]
}
