message = ":arrow_up: Version %s"
save-exact = true

@liskhq:registry=https://npm.lisk.com # Temporally to fetch @liskhq/lisk-db from the npm registry. This should be removed once lisk-db is published
