{
	"extends": "../tsconfig",
	"compilerOptions": {
		"baseUrl": ".",
		"declaration": false,
		"target": "es6",
		"paths": {
			"chai": ["../../../types/chai"]
		}
	},
	"include" : ["../../../types/**/*", "./**/*"]
}
