{
	"extends": "../../tsconfig",
	"compilerOptions": {
		"declaration": false,
		"outDir": "browsertest.build",
		"baseUrl": ".",
		"rootDir": ".",
		"typeRoots": [
			"types",
			"../../types",
			"./node_modules/@types",
			"../../node_modules/@types"
		]
	},
	"include": ["../../types/**/*", "src/**/*", "test/**/*"]
}
