{
	"extends": "../../tsconfig",
	"compilerOptions": {
		"declaration": true,
		"outDir": "dist-node",
		"rootDir": "./src",
		"types": ["node", "mocha", "sinon", "chai"]
	},
	"include": ["src/**/*", "types/**/*"]
}
