<div class="row">
    <div class="col-xs-12">
        <div class="info-panel row has-devider-xs">
            <span class="plain-text col-xs-12 col-sm-6 text-left"><translate>{{voteList.length}} out of {{countStandby + countTop}} Delegates selected</translate></span>
            <ul class="nav nav-info col-xs-12 col-sm-6 text-right">
                <li class="list-delegate" dropdown is-open="moreDropdownSeelction.isopen">
                    <a href="#" dropdown-toggle ng-disabled="voteList.length==0"><i class="mdi-action-visibility left"></i><translate>View selection</translate></a>
                    <ul class="list-group dropdown-menu" ng-class="{'empty': voteList.length < 1}">
                        <li class="list-group-item" ng-repeat="(key,item) in voteList.list" ng-click="voteList.vote(key, item, $event, true)">{{item}}</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="green-link" ng-click="vote()" ng-disabled="voteList.length==0"><i class="mdi-action-done left"></i><translate>vote</translate></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <form class="panel-heading" ng-submit="selectFirstSearchResult()">
                <div class="input-field">
                    <input type="text" id="search" class="delegates-search form-control" autocomplete="off" ng-focus="true" ng-model="searchDelegates" ng-change="updateSearch(searchDelegates)">
                    <label for="search"><translate>Search Delegates</translate></label>
                </div>
            </form>
            <table ng-table="tableSearchDelegates" border="0" width="100%" cellpadding="0" cellspacing="0" class="ng-table-responsive" template-pagination="custom/pager" ng-show="searchDelegates">
                <tr ng-repeat="delegate in $data" ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)), 'checked': voteList.inList(delegate.publicKey)}">
                    <td data-title="''" class="no-select checkbox-col">
                        <input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox" class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}" ng-checked="voteList.inList(delegate.publicKey)" ng-disabled="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"/>
                        <label for="filled-in-box-{{delegate.publicKey}}"></label>
                    </td>
                    <td data-title="tableSearchDelegates.cols.username" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="tableSearchDelegates.cols.address">
                        <a href="#" ng-click="userInfo(delegate.address)">{{delegate.address}}</a>
                    </td>
                    <td data-title="''">
                        <div class="dropdown-more-group" dropdown>
                            <span class="table-more-actions" dropdown-toggle>
                                <span class="dots"></span>
                            </span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item">
                                    <a href="#" class="send-lisk" ng-click="sendTransaction(delegate.address)"><translate>Send LSK</translate></a>
                                </li>
                                <!-- <li class="list-group-item"><a href="#">Send Message</a></li> -->
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item">
                                    <a href="#" clipboard data-clipboard-text="{{delegate.address}}" clipboard-success="clipboardSuccess(e);" clipboard-error="clipboardError(e);"><translate>Copy Address</translate></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" clipboard data-clipboard-text="{{delegate.username}}" clipboard-success="clipboardSuccess(e);" clipboard-error="clipboardError(e);"><translate>Copy Name</translate></a>
                                </li>
                                <!-- <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item">
                                    <a href="#" ng-click="addContact(delegate.address)"><translate>Add as Contact</translate></a>
                                </li>
                                <li class="list-group-item"><a href="#">See Voters</a></li> -->
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingSearch && (!$data || $data.length == 0)">
                    <td colspan="4">
                        <translate>No delegates found</translate>
                    </td>
                </tr>
                <tr ng-show="loadingSearch">
                    <td colspan="4">
                        <translate>Loading...</translate>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading">
                <h2>{{'Top Delegates'|translate}}</h2>
                <div class="plain-text"><translate>{{countTop}} in Total</translate></div>
            </div>
            <table ng-table="tableTopDelegates" border="0" width="100%" cellpadding="0" cellspacing="0" class="ng-table-responsive" template-pagination="custom/pager">
                <tr ng-repeat="delegate in $data" ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)), 'checked': voteList.inList(delegate.publicKey)}">
                    <td data-title="''" class="no-select checkbox-col">
                        <input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox" class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}" ng-checked="voteList.inList(delegate.publicKey)" ng-disabled="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"/>
                        <label for="filled-in-box-{{delegate.publicKey}}"></label>
                        <!-- <span class="app-chekbox" ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                        <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)" ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)" ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span> -->
                    </td>
                    <td data-title="tableTopDelegates.cols.rate" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="tableTopDelegates.cols.username" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="tableTopDelegates.cols.address">
                        <a href="#" ng-click="userInfo(delegate.address)">{{delegate.address}}</a>
                    </td>
                    <td data-title="tableTopDelegates.cols.productivity" sortable="'productivity'">
                        <span ng-show="delegate.productivity">{{(delegate.productivity)}}%</span>
                        <span ng-show="!delegate.productivity">-</span>
                    </td>
                    <td data-title="tableTopDelegates.cols.vote" sortable="'vote'">{{delegate.approval | number: 2}}%</td>
                    <td data-title="''">
                        <div class="dropdown-more-group" dropdown>
                            <span class="table-more-actions" dropdown-toggle>
                                <span class="dots"></span>
                            </span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item">
                                    <a href="#" class="send-lisk" ng-click="sendTransaction(delegate.address)"><translate>Send LSK</translate></a>
                                </li>
                                <!-- <li class="list-group-item"><a href="#">Send Message</a></li> -->
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item">
                                    <a href="#" clipboard data-clipboard-text="{{delegate.address}}" clipboard-success="clipboardSuccess(e);" clipboard-error="clipboardError(e);"><translate>Copy Address</translate></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" clipboard data-clipboard-text="{{delegate.username}}" clipboard-success="clipboardSuccess(e);" clipboard-error="clipboardError(e);"><translate>Copy Name</translate></a>
                                </li>
                                <!-- <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item">
                                    <a href="#" ng-click="addContact(delegate.address)"><translate>Add as Contact</translate></a>
                                </li>
                                <li class="list-group-item"><a href="#">See Voters</a></li> -->
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingTop && (!$data || $data.length == 0)">
                    <td colspan="7">
                        <translate>No delegates</translate>
                    </td>
                </tr>
                <tr ng-show="loadingTop">
                    <td colspan="7">
                        <translate>Loading...</translate>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading">
                <h2>{{'Standby Delegates'|translate}}</h2>
                <div class="plain-text"><translate>{{countStandby}} in Total</translate></div>
            </div>
            <table ng-table="tableStandbyDelegates" border="0" width="100%" cellpadding="0" cellspacing="0" template-pagination="custom/pager">
                <tr ng-repeat="delegate in $data" ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)), 'checked': voteList.inList(delegate.publicKey)}">
                    <td data-title="''" class="no-select checkbox-col">
                        <input ng-click="voteList.vote(delegate.publicKey, delegate.username)" type="checkbox" class="filled-in violet" id="filled-in-box-{{delegate.publicKey}}" ng-checked="voteList.inList(delegate.publicKey)" ng-disabled="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"/>
                        <label for="filled-in-box-{{delegate.publicKey}}"></label>
                        <!-- <span class="app-chekbox" ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                        <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)" ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)" ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span> -->
                    </td>
                    <td data-title="tableStandbyDelegates.cols.rate" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="tableStandbyDelegates.cols.username" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="tableStandbyDelegates.cols.address">
                        <a href="#" ng-click="userInfo(delegate.address)">{{delegate.address}}</a>
                    </td>
                    <td data-title="tableStandbyDelegates.cols.productivity" sortable="'productivity'">
                        <span ng-show="delegate.productivity">{{(delegate.productivity)}}%</span>
                        <span ng-show="!delegate.productivity">-</span>
                    </td>
                    <td data-title="tableStandbyDelegates.cols.vote" sortable="'vote'">{{delegate.approval | number: 2}}%</td>
                    <td data-title="''">
                        <div class="dropdown-more-group" dropdown>
                            <span class="table-more-actions" dropdown-toggle>
                                <span class="dots"></span>
                            </span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item">
                                    <a href="#" ng-click="sendTransaction(delegate.address)"><translate>Send LSK</translate></a>
                                </li>
                                <!-- <li class="list-group-item"><a href="#">Send Message</a></li> -->
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <li class="list-group-item">
                                    <a href="#" clipboard data-clipboard-text="{{delegate.address}}"><translate>Copy Address</translate></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" clipboard data-clipboard-text="{{delegate.username}}"><translate>Copy Name</translate></a>
                                </li>
                                <div class="divider-wrap">
                                    <li class="divider"></li>
                                </div>
                                <!-- <li class="list-group-item">
                                    <a href="#" ng-click="addContact(delegate.address)"><translate>Add as Contact</translate></a>
                                </li> -->
                                <!-- <li class="list-group-item"><a href="#">See Voters</a></li> -->
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingStandby && (!$data || $data.length == 0)">
                    <td colspan="7">
                        <translate>No delegates</translate>
                    </td>
                </tr>
                <tr ng-show="loadingStandby">
                    <td colspan="7">
                        <translate>Loading...</translate>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
