# Files
LICENSE
.gitkeep
mocha.opts

# rc files
.*rc
## ignore files
.*ignore

# Ignore extensions
*.png
*.sql
*.sh
*.cmd
## jest snapshot
*.snap

# project specific paths
.nyc_output/
coverage/
dist/
