@import '../../styles/constants';

.recent-events-event-heading {
	font-size: 18px;
	font-weight: 500;
}

.recent-events-code-block {
	padding: 5px 20px;
	box-sizing: border-box;
	border: 0;
	width: 100%;
	line-height: 22px;
	line-break: anywhere;
	font-size: 14px;
}

.recent-events-dropdown {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.recent-events-dropdown span {
	width: 58%;
	@include mq-down('md') {
		width: 100%;
	}
}

.recent-events-dropdown h3 {
	@include mq-down('md') {
		display: none;
	}
}

.recent-events-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.recent-events-heading h3 {
	@include mq-up('md') {
		display: none;
	}
}

.recent-events-data {
	padding: 10px 20px;
	word-wrap: break-word;
	white-space: pre-wrap;
}
